In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
folder = "ml-latest-small/"

In [2]:
ratings = pd.read_csv(folder+'ratings.csv')
movies = pd.read_csv(folder+'movies.csv')
moviesIndex = movies.set_index('movieId')
links = pd.read_csv(folder+'links.csv')
tags = pd.read_csv(folder+'tags.csv')
matriz_filmes = ratings.pivot_table(index='userId', columns='movieId', values='rating')

In [3]:
#cria um novo dataframe que recebe a média e a qtde de avaliações de um filme
ratings = pd.merge(ratings, movies, on='movieId')
avaliacoes = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
avaliacoes['qtde_avaliacoes'] = ratings.groupby('movieId')['rating'].count()
avaliacoes

           rating  qtde_avaliacoes
movieId
1        3.920930              215
2        3.431818              110
3        3.259615               52
4        2.357143                7
5        3.071429               49
6        3.946078              102
7        3.185185               54
8        2.875000                8
9        3.125000               16
10       3.496212              132
11       3.671429               70
12       2.421053               19
13       3.125000                8
14       3.833333               18
15       3.000000               13
16       3.926829               82
17       3.776119               67
18       3.700000               20
19       2.727273               88
20       2.500000               15
21       3.494382               89
22       3.222222               36
23       3.125000               16
24       3.125000               28
25       3.625000               76
26       3.500000               13
27       3.333333                9
28       4.227273               11
29       4.013158               38
30       3.000000                3
...           ...              ...
188189   4.500000                1
188301   3.666667                3
188675   3.500000                1
188751   4.500000                1
188797   4.000000                1
188833   4.500000                1
189043   2.500000                1
189111   3.000000                1
189333   3.750000                2
189381   2.500000                1
189547   1.000000                1
189713   2.500000                1
190183   3.500000                1
190207   1.500000                1
190209   4.000000                1
190213   1.000000                1
190215   1.500000                1
190219   1.000000                1
190221   1.000000                1
191005   4.500000                1
193565   3.500000                1
193567   3.000000                1
193571   4.000000                1
193573   4.000000                1
193579   3.500000                1
193581   4.000000                1
193583   3.500000                1
193585   3.500000                1
193587   3.500000                1
193609   4.000000                1

[9724 rows x 2 columns]

In [4]:
#usando a correlação entre o usuário e os filmes avaliados
def define_correlacao_filme(filme_id, qtde_avaliacoes=100):
    avaliacao_usuario = matriz_filmes[filme_id]
    similares = matriz_filmes.corrwith(avaliacao_usuario)
    frame = similares.to_frame()
    frame.dropna(inplace=True)
    frame.columns = ['correlacao']
    frame = frame.join(avaliacoes['qtde_avaliacoes'])
    frame = frame[frame['qtde_avaliacoes'] > qtde_avaliacoes].sort_values(by='correlacao', ascending=False).head(10)
    return frame

In [5]:
#retorna os filmes com as recomendações mais próximas 
def verifica_recomendacoes(filme_id):
    data_frame = define_correlacao_filme(filme_id)
    indice_filmes = data_frame.index.values
    filmes_proximos = moviesIndex.loc[indice_filmes]
    return filmes_proximos

In [11]:
ratings.query('userId==356').sort_values('rating', ascending=False).head(10)

,userId,movieId,rating,timestamp,title,genres
97253,356,59141,5.0,1229140136,Son of Rambow (2007),Children|Comedy|Drama
55909,356,62434,5.0,1228073384,Zack and Miri Make a Porno (2008),Comedy|Drama|Romance
77211,356,4361,5.0,1229140394,Tootsie (1982),Comedy|Romance
62886,356,2968,5.0,1229140448,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi
34093,356,1246,5.0,1229143549,Dead Poets Society (1989),Drama
59533,356,1479,5.0,1228072609,"Saint, The (1997)",Action|Romance|Sci-Fi|Thriller
58790,356,1257,5.0,1229139409,Better Off Dead... (1985),Comedy|Romance
14444,356,2959,5.0,1229142810,Fight Club (1999),Action|Crime|Drama|Thriller
13639,356,2716,5.0,1229140308,Ghostbusters (a.k.a. Ghost Busters) (1984),Action|Comedy|Sci-Fi
63642,356,3421,5.0,1229140036,Animal House (1978),Comedy

In [6]:
verifica_recomendacoes(356) #Procurando por forrest gump *356

,title,genres
movieId,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War
1704,Good Will Hunting (1997),Drama|Romance
588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
2329,American History X (1998),Crime|Drama
1682,"Truman Show, The (1998)",Comedy|Drama|Sci-Fi
110,Braveheart (1995),Action|Drama|War
2918,Ferris Bueller's Day Off (1986),Comedy
500,Mrs. Doubtfire (1993),Comedy|Drama
1222,Full Metal Jacket (1987),Drama|War
2028,Saving Private Ryan (1998),Action|Drama|War

In [7]:
verifica_recomendacoes(1) #Procurando por toy story *1

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy
6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy
588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
500,Mrs. Doubtfire (1993),Comedy|Drama
4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
2706,American Pie (1999),Comedy|Romance
165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
1097,E.T. the Extra-Terrestrial (1982),Children|Drama|Sci-Fi